@media (max-width: 992px) {
  #header .cabeza {
    padding-top: 10%; }
  #header h1 {
    margin-left: 5%;
    margin-right: 5%; }

  #headerFijo #menu {
    width: 6%;
    height: 60px;
    display: block; }
  #headerFijo .menu0 {
    display: none; }

  #centro .cajas {
    width: 18%;
    display: inline-block;
    margin-left: 5%; }

  #formulario .btn3 {
    width: 20%; }
  #formulario #form {
    max-width: 90%;
    margin: 0 auto; }

  #footer .menu2 {
    margin-left: 10%; }
  #footer .menu2 a {
    font-size: 1.25rem; } }
@media (max-width: 768px) {
  #header .cabeza {
    padding-top: 17%; }

  #headerFijo #menu {
    width: 6%;
    height: 60px;
    display: block; }

  #centro .cajas {
    width: 40%;
    display: inline-block;
    margin-left: 5%; }

  #formulario .btn3 {
    width: 20%; }
  #formulario #form {
    max-width: 90%;
    margin: 0 auto; }

  #footer .menu2 {
    margin-left: 5%; }
  #footer .menu2 a {
    font-size: 1.0625rem; } }
@media (max-width: 576px) {
  #header .cabeza {
    padding-top: 17%; }

  #centro .cajas {
    width: 45%;
    display: inline-block;
    margin-left: 25%; }

  #formulario .btn3 {
    width: 25%; }
  #formulario #form {
    max-width: 90%;
    margin: 0 auto; }

  #footer .menu2 {
    margin-left: 2%; }
  #footer .menu2 a {
    font-size: 0.6875rem; } }
#header {
  background-color: #87509c;
  padding-top: 10%; }

#menu {
  width: 4%;
  margin-left: 90%;
  display: none; }

#headerFijo {
  position: fixed;
  display: block;
  width: 100%;
  background-color: #87509c;
  padding-top: 0;
  padding-bottom: 1%;
  margin: 0; }

.logo {
  margin-left: 5%;
  margin-top: 5%;
  margin-right: 45%; }

.menu0 {
  display: inline; }

.menu {
  padding: 0px;
  margin: 0px;
  text-transform: uppercase;
  list-style: none;
  display: inline; }

.menu li {
  display: inline; }

.menu li + li {
  margin-left: 2%; }

.menu a {
  color: white;
  font-size: 0.9375rem; }

.boton {
  text-align: center; }

.btn1 {
  padding-left: 2%;
  padding-right: 2%;
  width: 15%;
  border-radius: 5px;
  background-color: #643a79;
  border: 1px solid #643a79;
  text-transform: uppercase; }

h1 {
  text-align: center; }

.btn2 {
  font-size: 1.0625rem;
  background-color: #eb7d4b;
  text-transform: uppercase;
  color: white;
  border-bottom: 3px solid #c86a40;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-radius: 3px;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 10%;
  padding: 1%; }

#centro {
  width: 100%;
  background-color: #17c2a4; }

#centro2 {
  margin: 0 auto;
  padding-left: 5%; }

.titulo2 {
  margin: 0px;
  padding-top: 5%;
  text-align: center;
  text-transform: uppercase; }

.bb-line {
  width: 4%;
  height: 4px;
  background-color: #14a58c;
  margin-top: 1%;
  margin-left: 48%; }

.texto {
  text-align: center;
  padding-top: 2%; }

.cajas {
  text-align: center;
  display: inline-block;
  width: 23%;
  margin-right: 1%;
  font-size: 1.125rem;
  margin-bottom: 10%; }

#formulario {
  background-color: #3c5499;
  width: 100%; }

.bbb-line {
  border-bottom: 4px solid #273a71;
  margin-bottom: 2%;
  padding-bottom: 2%; }

.titulo3 {
  margin: 0px;
  padding-top: 5%;
  text-align: center;
  text-transform: uppercase; }

.texto {
  text-align: center;
  padding-top: 2%; }

.label1 {
  margin-left: 2%; }

#form {
  max-width: 60%;
  margin: 0 auto; }

.nombre {
  margin-right: 3%;
  width: 49%;
  display: inline-block; }

.email {
  width: 46%;
  display: inline-block; }

.mensaje {
  margin: 2%; }

#nombre {
  border-radius: 4px;
  border: 0px;
  margin: 1%;
  padding: 1%;
  width: 100%;
  display: block;
  background-color: #273a71; }

#email {
  border-radius: 4px;
  border: 0px;
  margin: 1%;
  padding: 1%;
  width: 100%;
  display: block;
  background-color: #273a71; }

#mensaje {
  border-radius: 4px;
  border: 0px;
  margin: 1%;
  padding: 1%;
  padding-bottom: 15%;
  margin-left: 20%;
  width: 60%;
  display: block;
  background-color: #273a71; }

.btn3 {
  text-transform: uppercase;
  text-align: center;
  color: white;
  border-radius: 4px;
  border: 0px;
  margin: 1%;
  padding: 1%;
  background-color: #30bae7;
  border-bottom: 3px solid #299ec5;
  margin-left: 50%;
  margin-top: 1%; }

.bbf-line {
  width: 4%;
  height: 4px;
  background-color: #273a71;
  margin-left: 48%;
  margin-top: 1%; }

#footer {
  background-color: #344b8e;
  padding: 2%; }

.menu2 {
  padding: 0px;
  margin-left: 30%;
  text-transform: uppercase;
  list-style: none; }

.menu2 li {
  display: inline; }

.menu2 li + li {
  margin-left: 2%; }

.menu2 a {
  color: white;
  font-size: 0.9375rem; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
  width: 100%;
  color: white; }

a {
  text-decoration: none; }

/*# sourceMappingURL=style.css.map */
