// Medidas de los diferntes dispositivos
$breakpoint-xs: 0px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Colores
$header: #87509c;
$centro:#17c2a4;
$formulario:#3c5499;
$cajasformu:#273a71;
$footer:#344b8e;
$btn1:#643a79;
$btn2:#eb7d4b;
$sbtn2:#c86a40;
$btn3:#30bae7;
$sbtn3:#299ec5;
$blanco:white;
$negro:black;
$bb-line:#14a58c;
$bbb-line:#273a71;

 
// Texto
$mayuscula:uppercase;
$fzparem:16px;
$alineacion: center;

// Medidas
$cero:0px;