#header{
    background-color:$header; 
    height: 50%;
}

#menu{
    width: 4%;
    height: 40px;
    margin-left: 90%;
    display: none;
}

// Lista
.menu0{
    display: inline;
}

.menu{
    padding: $cero;
    margin: $cero; 
    text-transform: $mayuscula;
    list-style: none;
    margin-left: 70%;
}

.menu li{
    display: inline;

}

.menu li + li{
    margin-left: 2%;
}

.menu a{
    color:$blanco;
    font-size:(15px / $fzparem + rem);

}

.btn1{
    width: 30%;
    border-radius: 5px;
    background-color: $btn1;
    border: 1px solid $btn1;
    text-transform: $mayuscula;
}

h1{
    text-align: $alineacion;
}

// Boton

.btn2{
    font-size:(17px / $fzparem + rem);
    background-color: $btn2;
    text-transform: $mayuscula;
    color: $blanco;
    border-bottom: 3px solid $sbtn2;
    border-left: $cero ;
    border-right: $cero ;
    border-top: $cero ;
    border-radius: 3px ;
    text-align: $alineacion;
    margin-left: 40%;
    margin-bottom: 10%;
    width: 15%;
    padding: 1%;
}

.logo{
    margin-left: 5%;
    margin-top: 5%;
    position: relative;

}